
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f6f5f3;
}

.hero-section {
    margin-top: 0px; 
}

nav{
    height: 100px; 
    line-height: 100px; 
    background-color: #003366; 
    color: #f6f5f3;
}
  
nav .brand-logo img{
    height: 250px; 
    width: 300px;
    
}
  
nav .nav-wrapper{
    width: 100%;
    height: 100%; 
    background-color: #003366; 
}
  

nav ul li a {
    color: white; 
    font-weight: bold;
}
  
nav ul li a:hover {
    color: red; 
}
  

.faq-section {
    margin-top: 40px;
    margin-bottom: 40px;
    
}
  
.faq-section .collection-item {
    font-size: 16px;
    color: #333;
}
  
 
.form-section {
    margin-bottom: 50px;
    
}
  
.form-section .input-field input,
.form-section .input-field textarea {
    background-color: #f6f5f3;
    border-radius: 4px;
    padding-left: 10px;
}
  
button[type="submit"] {
    font-weight: bold;
}
  

.page-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}